<!-- my-dialog-modal.component.html -->
    
<p >ZAGOR: {{text}}</p>
<mat-form-field>
   <label>Naziv</label> <input matInput [(ngModel)]="text" name="text" [value]="text">
  <label>Redni broj</label>  <input matInput [(ngModel)]="ordinal">
    <label>Edicija</label> <input matInput [(ngModel)]="edition">
    <label>U kolekciji</label> <input matInput [(ngModel)]="own">
    <label>Slika</label><input matInput [(ngModel)]="link">
    <label>Id</label> <input matInput [(ngModel)]="id" name="id" [value]="id">
</mat-form-field>

<button mat-button  (click)="updateComic()">Update</button> 

