<div class="containter">
    <!-- No data message -->
    <div *ngIf="Comic.length <= 0">
      <p class="alet alert-warning text-center">There is no comic added yet!</p>
    </div>
  
  <!-- Comics list -->
  <div  *ngIf="Comic.length > 0">
    <ul class="serv">
      <li  *ngFor="let comic of Comic; let i = index">
        <div>
          <a>
            <img [routerLink]="['/comic-detail/', comic._id]" class="border" src ="/assets/pictures/{{comic.redni}}.jpg"
              style="width:200px;height:250px;" />
              
          </a>
   
        </div>

        <div> {{comic.edition}}   </div>
        <div> {{comic.name}}</div>
        <div> #{{comic.ordinal}}</div>
      </li>
    </ul>
  </div>
</div>