<form *ngIf="showAddComic" class="insert" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="text">Naziv</label>
      <input
        type="text"
        name="text"
        [(ngModel)]="text"
        id="text"
        placeholder="Naziv"
      />
    </div>
    <div class="form-control">
      <label for="edition">Edicija</label>
      <input
        type="text"
        name="edition"
        [(ngModel)]="edition"
        id="edition"
        placeholder="Edicija"
      />
    </div>
    <div class="form-control">
        <label for="ordinal">Broj</label>
        <input
          type="text"
          name="ordinal"
          [(ngModel)]="ordinal"
          id="ordinal"
          placeholder="Broj"
        />
      </div>
      <div class="form-control">
        <label for="edition">Slika</label>
        <input
          type="text"
          name="link"
          [(ngModel)]="link"
          id="link"
          placeholder="Slika"
        />
      </div>
      <div class="form-control">
        <label for="edition">Id</label>
        <input
          type="text"
          name="id"
          [(ngModel)]="id"
          id="id"
          placeholder="Id"
        />
      </div>
    <div class="form-control form-control-check">
      <label for="own">U kolekciji</label>
      <input
        type="checkbox"
        name="own"
        [(ngModel)]="own"
        id="own"
      />
    </div>
    <input type="submit" value="Spasi" class="btn btn-block" />
  </form>