<div class="containter">
    <!-- No data message -->
    <div *ngIf="Comic.length <= 0">
      <p class="alet alert-warning text-center">There is no comic added yet!</p>
    </div>
  
  
    <!-- Comics list -->
    <table class="comic" *ngIf="Comic.length > 0">
      <thead >
        <tr>

          <th scope="col right ">Name</th>
          <th scope="col center ">Ordinal</th>
          <th scope="col">Edition</th>
          <th scope="col">Cover</th>
       

        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let comic of Comic; let i = index" >
   
          <td>{{comic.name}}</td>
          <td scope="col right ">{{comic.ordinal}}</td>
          <td>{{comic.edition}}</td>
          <td>
            
            <img [routerLink]="['/comic-detail/', comic._id]" class="border" src ="{{comic.cover}}" style="width:200px;height:250px;" />  </td>
          
        </tr>
      </tbody>
    </table>
  </div>