table {
  width: 100%;
  align-items: center;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
.mat-select {
  background-color: antiquewhite;
  color: aliceblue;
}
