<div class="container">
  <ul>
    <li>
      <img
        src="/assets/pictures/add-friend.png"
        alt="image"
        routerLinkActive="active"
        routerLink="/add-user"
        class="images"
      />
    </li>
    <li>
      <img
        src="/assets/pictures/edit-friend.png"
        alt="image"
        routerLinkActive="active"
        routerLink="/user-list"
        class="images"
      />
    </li>
    <li>
      <img
        src="/assets/pictures/add-comic.png"
        alt="image"
        routerLinkActive="active"
        routerLink="/create"
        class="images"
      />
    </li>
    <li>
      <img
        src="/assets/pictures/edit-comic.png"
        alt="image"
        routerLinkActive="active"
        routerLink="/list"
        class="images"
      />
    </li>
  </ul>
</div>
