
<div class="grid-container">
    <div class="item2" >

        <fa-icon [icon]="faplus"  

        (click)="toggleAddComic()" > </fa-icon>
        <app-insert  (onAddTask)="addComic({})"></app-insert>
    </div>


    <div class="item3">
<table style="width:100%" algin="right">
<tr>
    <th> Naziv </th>
    <th> Slika </th>
    <th> Edicija </th>
    <th> Broj </th>
</tr>
<tr *ngFor="let comic of comics" >
    <th>  {{comic.text}} </th>
    <th> <img src="{{comic.link}}" style="width:100px;height:130px;"> </th>
    <th> {{comic.edition}} </th>
    <th> {{comic.ordinal}} </th>
 
    <th ><fa-icon (dblclick)="deleteComic(comic)"
        [ngStyle]="{ color: 'red' }" [icon]="faTimes"></fa-icon></th>
    <th>
    
        <fa-icon [icon]="facog" mat-button (click)="openDialog(comic)"  > </fa-icon>
  
</tr>
</table>
</div>

</div>