@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);

  background-color: rgb(6, 23, 40);
}

nav {
  background-color: rgb(6, 23, 40);

}

a {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  color-scheme: inherit;
  text-decoration: none;

}

li {
  list-style: none;
}

.comic {
  width: 1000px;
  height: 1150px;
}
.images {
  max-width: 200px;
  margin: 10px auto;

  max-height: 200px;
  border: 3px solid steelblue;
  padding: 20px;
  border-radius: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;

}
.container {
  max-width: auto;
  margin: 10px auto;

  min-height: 300px;
  border: 3px solid steelblue;
  padding: 20px;
  border-radius: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main {
  max-width: auto;
  margin: 10px auto;

  min-height: 300px;

  padding: 20px;
  border-radius: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-header {
  max-width: 1000px;
  margin: 10px auto;

  min-height: 300px;

  padding: 20px;
  border-radius: 1px;
  text-align: justify;
}

.mini {
  max-width: 200px;
  margin: 10px;

  min-height: 50px;
  border: 3px solid steelblue;
  padding: 20px;
  border-radius: 1px;
  align-items: center;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.serv div
 {
  justify-content: center;
  display: flex;
  padding-inline-start: 0cm;
  
 }

 
body { 
  position: absolute;
  padding: 0 0;
  margin: 0 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}
.paginator {

    float: right;

  clear: both;
}

.basic-container {
height: 100%;
width: 100%;
overflow: auto;
}

.version-info {
font-size: 8pt;
float: right;
}

.serv ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex;
  padding: 0px;
  width: 1000px;
}
.login {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  border:rgb(255, 255, 255);
  border-style: inset;
  border-spacing: ch;
}

.serv li {
  
  list-style: none;
 margin-bottom: 25px;
  flex: 1 3 33.333333%;
}

.align {

  max-width: auto;
  margin: 30px auto;
  overflow: auto;
  min-height: auto;
  text-align: center;

}



.star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
  color: #fff;
}
.star:before {
 content: "\2605";
 position: absolute;
 color:rgb(255, 255, 255);
 visibility:visible;
}
.star:checked:before {
 content: "\2605";
 color:gold;
 position: absolute;
}
.detalji {
  text-decoration: none;
  font-size: 45px;
  font-family: "Poppins", sans-serif;

  text-align: center;
}

.details {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 3px solid steelblue;
  padding: 30px;
  border-radius: 4px;

  text-align: center;
}


.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'menu  main   '
  ;
  gap: 10px;
  background-color: steelblue;
  padding: 10px;
}

.grid-container>div {
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 30px;
}



.comic {
  background: #f4f4f4;
  margin: 0x;
  padding: 0px 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  max-height: 220px;

}

.border {

  border-style: groove;
}

.comic.own {
  border: 5px inset rgb(213, 183, 13);
}

.comic.no {
  border-left: 5px inset rgb(220, 16, 16);
}

.comicList {
 
  text-align: center;
  width: min-content;
}