<form>
  <mat-form-field>
    <mat-label>User groups</mat-label>
    <mat-select
      [value]="default"
      [(ngModel)]="uGroup"
      (selectionChange)="getNewData($event)"
      name="Group"
    >
      <mat-option>All groups</mat-option>
      <mat-option *ngFor="let group of Groups" [value]="group">
        {{ group }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="E-Mail">
      <th mat-header-cell *matHeaderCellDef>e-mail</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let element">{{ element.group }}</td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <span class="edit" [routerLink]="['/user-edit/', element._id]">
          <button type="button" class="btn btn-primary btn-sm">Edit</button>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <span
          class="delete"
          (click)="removeUser(element, element._id)"
          [routerLink]="['/list']"
        >
          <button type="button" class="btn btn-danger btn-sm">Delete</button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="length"
    [pageSize]="size"
    [pageIndex]="page"
    [pageSizeOptions]="[5, 10, 30]"
    (page)="getData($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
